# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv

# IDE
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Flask
instance/
*.sqlite
